.presentation-container {
    font-family: Arial, sans-serif;
    color: #f3e378;
    padding: 20px;
    margin-top: 440px;
    object-fit: fill;
}

.hero-design {
    object-fit: fill;
}

.slide {
    margin-bottom: 50px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    margin-bottom: 10px;
}

ul {
    margin-bottom: 20px;
}

ul li {
    margin-bottom: 5px;
}

.background-image,
.company-image {
    width: 100%;
    height: auto;
}

.present-info {
    margin-top: 20px;
}

.roadmap,
.solution-graphics,
.benefits-graphics,
.case-study-graphics {
    margin-top: 20px;
}


/* Add any additional styling for your graphics and layout */