.skills {
    min-height: 100px;
    position: relative;
    font-size: large;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(6, 0, 14);
}

span {
    font-size: x-large;
    color: rgb(250, 247, 247);
    font-weight: 200;
}

li {
    color: aliceblue;
}