.projects span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background: #0a0a1b;
    color: rgb(4, 2, 0);
}

h2 {
    color: #0a0a1b;
}

.bigBox {
    background-color: #c4ecfb57;
    width: 330px;
    margin: 1px;
}

.project-g {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
    gap: 6px;
}