.projects {
    min-height: 100px;
    background: #7da87e;
    /* position: relative; */
}

.projects span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background: #0a0a1b;
    color: rgb(4, 2, 0);
}

h2 {
    color: #0a0a1b;
}

.bigBox {
    background-color: #c3e7f387;
    width: 330px;
    margin: 1px;
}